<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
    <div class="navigation-wrap">
      <a href="{{ links.2f }}" aria-current="page" class="logo-link w-nav-brand w--current"><img src="{{ images.f2255ff.url }}" width="108" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;108px&quot;}]" alt="{{ images.f2255ff.alt | trim | escape }}" class="logo-image"></a>
      <div class="menu">
        <nav role="navigation" class="navigation-items w-nav-menu">
          <a href="{{ links.55b8e8be }}" class="navigation-item w-nav-link">{{ texts.3c2336d }}</a>
          <a href="{{ links.-2f68657 }}" class="navigation-item w-nav-link">{{ texts.293b31 }}</a>
          <a href="{{ links.2cc930c }}" class="navigation-item w-nav-link">{{ texts.36425d }}</a>
          <a href="{{ links.2c48051 }}" class="navigation-item w-nav-link">{{ texts.1fa3c2 }}</a>
          <a href="{{ links.4b0e6111 }}" class="navigation-item w-nav-link">{{ texts.-64104400 }}</a>
        </nav>
        <div class="menu-button w-nav-button"><img src="{{ images.-70f6df7d.url }}" width="22" data-sizes="[{&quot;max&quot;:991,&quot;size&quot;:&quot;22px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.-70f6df7d.alt | trim | escape }}" class="menu-icon"></div>
      </div>
      <a href="{{ links.-284a42dd }}" class="button cc-contact-us w-inline-block">
        <div>{{ texts.7f274abe }}</div>
      </a>
    </div>
  </div>